<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
xmlns:cache="http://www.springframework.org/schema/cache"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/util   
        http://www.springframework.org/schema/util/spring-util.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop.xsd  
        http://www.springframework.org/schema/tx  
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/cache 
    http://www.springframework.org/schema/cache/spring-cache.xsd
        ">  
  
    <!-- 加载db.properties文件中的内容，db.properties文件中key命名要有一定的特殊规则 -->  
    <context:property-placeholder location="classpath:config/db.properties" />  
  <import resource="applicationContext-redis.xml"/>
  <import resource="applicationContext-db.xml"/>
  <import resource="applicationContext-mybatis.xml"/>
     
	<!-- 扫描的包 -->
	<context:component-scan base-package="com.dly.app" />
	<!-- 自定义realm -->
  	<bean id="myRealm" class="com.dly.app.commons.shiro.MyRealm"/>  
  	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">  
  	  <property name="realm" ref="myRealm"/>  
	</bean> 
	<!-- Shiro过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">  
	    <!-- Shiro的核心安全接口,这个属性是必须的 -->  
	    <property name="securityManager" ref="securityManager"/>
	    <!-- 身份认证失败，则跳转到登录页面的配置 -->  
	    <property name="loginUrl" value="/html/index.html"/>
	    <!-- 权限认证失败，则跳转到指定页面 -->  
	    <property name="unauthorizedUrl" value="/html/error.html"/>  
	    <!-- Shiro连接约束配置,即过滤链的定义 -->  
	    <property name="filterChainDefinitions">  
	        <value>  
	          	/personal/* = anon
                /private/* = authc
         
	        </value>  
	    </property>
	</bean>  
	
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->  
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>  
	
	<!-- 开启Shiro注解 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>  
  		<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">  
  	  <property name="securityManager" ref="securityManager"/>  
    </bean>  
    <!-- 阿里云短信 -->
  	<bean id="smsBean" class="com.dly.app.commons.sms.SmsBean">
		<property name="product" value="${sms.product}"/>
		<property name="domain" value="${sms.domain}"/>
		<property name="accessKeyId" value="${sms.accessKeyId}"/>
		<property name="accessKeySecret" value="${sms.accessKeySecret}"/>
		<property name="templateCode" value="${sms.templateCode}"/>
		<property name="signName" value="${sms.signName}"/>
	</bean> 
	
	<!-- 文件上传 -->
  	<bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
       <property name="defaultEncoding" value="utf-8" />
       <property name="maxUploadSize" value="1048576000" />
       <property name="maxInMemorySize" value="40960000" />
 	 </bean>  
 	 <!-- fastdfs 配置 -->
 	 <bean id="fastdfsUtil" class="com.dly.app.commons.fastdfs.FastdfsClient" init-method="init">
 	 	<property name="confFilename" value="fdfs_client.conf"></property>
 	 </bean>
 	 <!-- jpush配置 -->
 	 <bean id="jpushUtil" class="com.dly.app.commons.jpush.JpushUtil" >
 	 	<property name="appkey" value="${jpush.appkey}"/>
 	 	<property name="masterSecret" value="${jpush.masterSecret}"/>
 	 </bean>
 	  
</beans>  