<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.dly.app.dao.MediaDAO" >  
	<select id="getMoudles"  resultType="com.dly.app.pojo.Image">
	SELECT m.id id,m.title title,m.dsf_url dsfUrl,i.image_url image_url,i.width width,i.height height FROM t_moudle m JOIN t_image i ON m.image_id=i.id
 	</select>
 	
 	<select id="getGroupsByMoudleId" parameterType="com.dly.app.pojo.Group"  resultType="com.dly.app.pojo.Group">
	SELECT g.id id,g.title title,g.text TEXT,g.image_id image_id ,g.istp istp ,i.image_url image_url,i.height height, i.width width,
	 	l.level LEVEL ,v.url video_url FROM t_group g JOIN t_image i  ON g.image_id=i.id JOIN t_level l ON g.`level_id`=l.`id` LEFT  JOIN t_video v ON g.`video_id`=v.id
	 	   
	 	   <where>
	 	   		<if test="moudleId!=null">
	 	   			g.moudle_id=#{moudleId}
	 	   		</if>
	 	   		<if test="countyId!=null">
	 	   		 and	g.county_id=#{countyId}
	 	   		</if>
	 	   		<if test="levelId!=null">
	 	   		 and	g.level_id!=5
	 	   		</if>
	 	   </where>
	 	   LIMIT #{index},#{size}
 	</select>
 	
 	<select id="getGroupByGroupId" parameterType="String" resultType="com.dly.app.pojo.Image">
	 SELECT   i.id id,i.group_id group_id, i.image_url image_url,i.image_name image_name,i.width width,i.height height FROM
	   t_group_image gi JOIN t_image i ON gi.image_id=i.id WHERE gi.group_id=#{groupId}
 	</select>
 	<select id="getCollectByUserIdAndGroupId" parameterType="com.dly.app.pojo.Collect" resultType="com.dly.app.pojo.Collect">
		SELECT *  FROM t_collect WHERE group_id=#{groupId} AND user_id=#{userId}
	</select>
 	
 	<select id="getGroups" parameterType="com.dly.app.pojo.Group" resultType="com.dly.app.pojo.Group">
 	SELECT g.id id,g.title title,g.text TEXT,g.image_id image_id ,g.istp istp ,i.image_url image_url,i.height height, i.width width,
	  l.level LEVEL ,v.`url` video_url FROM t_group g JOIN t_image i  ON g.image_id=i.id  JOIN t_level l ON g.`level_id`=l.`id` LEFT JOIN t_video v ON g.`video_id`= v.`id` WHERE  county_id=#{countyId}  LIMIT #{index},#{size}
 	</select>
 	
 	<insert id="addImage" parameterType="com.dly.app.pojo.Image" >
	 	INSERT INTO t_image (image_url,image_name,width,height,type,title)
	VALUE (#{imageUrl},#{imageName},#{width},#{height},#{type},#{title})
 	</insert>
 	<select id="search" parameterType="String" resultType="com.dly.app.pojo.Group">
 		SELECT g.`id` id,g.`title` title,g.`text` TEXT,g.`istp` istp,i.`image_url` image_url,i.`width` width,i.`height` height, 
 		l.level LEVEL,v.`url` video_url  FROM  t_group g JOIN t_image i ON g.image_id=i.id   JOIN t_level l ON g.`level_id`=l.`id` LEFT JOIN t_video v ON g.`video_id`=v.`id` WHERE g.title LIKE #{text}
 	</select>
 
 	<select id="getImages"  resultType="com.dly.app.pojo.Image" >
 		SELECT * FROM t_image where type='0'
 	</select>
 	<delete id="deleteImageById" parameterType="String" >
 		DELETE FROM  t_image WHERE id =#{id}
 	</delete>
 	<select id="getImageById"  parameterType="String"  resultType="com.dly.app.pojo.Image" >
 		SELECT * FROM t_image where id=#{id}
 	</select>
 	<select id="getCitys"   resultType="com.dly.app.pojo.City">
 		SELECT *    FROM t_city
 	</select>
 	
 	<select id="getCountysByCityId"  parameterType="Integer" resultType="com.dly.app.pojo.County">
 		SELECT *  FROM t_county  WHERE city_id=#{cityId}
 	</select>
 	<select id="getCarousel"  resultType="com.dly.app.pojo.Image">
 		SELECT  i.image_url,i.height,i.width FROM t_carousel c JOIN t_image i ON c.image_id=i.id ORDER BY c.ordered 
 	</select>
 
</mapper>  